.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* center the content inside */
    /* width: 300px; */
    margin: 50px auto; /* center horizontally */
}

.profile-card img{
    border-radius: 100%;
    overflow: hidden; /* prevents image from poking out */
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-card p{
   margin-inline-end:  10px;
}


#profile-input{
    display: none;
}

label, #remove-profile-pic {
    box-sizing: border-box; /* Ensures padding is included in width/height */
    width: 100px;
    height: 30px;

    padding: 5px 10px; /* Adjust padding to fit inside the fixed height */
    background-color: #606264;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 1;
}
